<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249009639394-ip4c1324l4ikravo4ehdttso34ha0gvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249009639394-ip4c1324l4ikravo4ehdttso34ha0gvf</string>
	<key>API_KEY</key>
	<string>AIzaSyCvCgMM1oHoOvQ6NYfOUlCiytpX3FPxdAg</string>
	<key>GCM_SENDER_ID</key>
	<string>249009639394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>cellabor-ad333</string>
	<key>STORAGE_BUCKET</key>
	<string>cellabor-ad333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249009639394:ios:5c770a4d76aa54a441f3bb</string>
</dict>
</plist>